.playButton {
    -fx-border-radius: 22;
    -fx-background-radius: 22;
    -fx-background-color: rgba(255, 90, 90, 0.95);
    -fx-text-fill: white;
    -fx-font-weight: bold;


}

.leaveButton {
    -fx-border-radius: 22;
    -fx-background-radius: 22;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-color: rgba(255, 0, 0, 0.54);
    -fx-border-width: 1px;
    -fx-background-color: rgba(0, 0, 0, 0);
}